<%- include('../partials/header') %> 

<div class="show-articles">

<% counter = 0 %>

<% articles.forEach(a => { %>
    <% if (counter > 7) return %>
    <% counter += 1 %>
    
    <div class="article-box">
      <div class="article-info">
        <ul class="article-headline">
            <a href="/articles/<%= a._id %>"><%= a.headline %></a>
        </ul>
        <ul class="article-timestamp">
          <%= a.articleDate.toLocaleDateString() %> <%=
          a.articleDate.toLocaleTimeString() %>
        </ul>
      </div>
      <% if (user?._id.equals(a.user)) { %>
      <div class="article-buttons">
        <form
          action="/articles/<%= a._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit-button" alt="Delete Article">🗑</button>
        </form>
        <a href="/articles/<%= a._id %>/edit">
          <button type="edit-button">✏️</button>
        </a>
      </div>
      <% } %>
    </div>
    <% }) %>
  </div>

  <%- include('../partials/footer') %>
</div>
