<%- include('../partials/header') %>

<div class="show-article-id">
    
    <h1><%= article.headline %></h1>
    <h3 class="review-user"> <img alt="avatar" src="<%= article.userAvatar %>" referrerpolicy="no-referrer" > <%= article.author %> </h3><br>
    <% addition.forEach(a => { %>
        <ul><%= a.additionDate.toLocaleDateString() %> <%= a.additionDate.toLocaleTimeString() %>:</ul>
        <ul>Per <%= a.author %>, <%= a.additionText %></ul><br>
    <% }) %>
    <article><%= article.articleDate.toLocaleDateString() %> <%= article.articleDate.toLocaleTimeString() %>:<br><%= article.articleText %></article>

    <% if (user?._id.equals(article.user)) { %>
    <div class="article-buttons-detail-view">
      <a href="/articles/<%= article._id %>/additions/new">
        <button type="edit-button" class="show-button">Add to Story</button>
      </a>
    </form>
    <a href="/articles/<%= article._id %>/edit">
      <button type="edit-button" class="show-button">Edit Article</button>
    </a>
    <form
      action="/articles/<%= article._id %>?_method=DELETE"
      class="delete-form"
      method="POST"
    >
      <button type="submit-button" class="show-button">Delete Article</button>
      </div>
      <% } %>

</div>

<div class="show-comments">
    <h2>Join the Conversation</h2><br>
    <% if (user) { %>

    <form action="/articles/<%= article._id %>/comments" method="POST">
        <textarea rows="3" cols="40" placeholder="Write a Comment" name="contentText"></textarea><br>
        <input type="submit" value="Post Comment">
    </form><br><br>
    <% } else { %>
        <a href="/auth/google" class="login"
        >Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"
      /></a>
    <% } %>

    <h2>Comments:</h2><br>
    <% if(article.comments.length) { %>
        <% article.comments.forEach(a => {%>
            <div class="comment-box">
                <ul class="review-user"> <img alt="avatar" src="<%= a.userAvatar %>" referrerpolicy="no-referrer" > <%= a.author %> </ul>
                <ul> <%= a.contentText %> </ul><br>
            </div>
        <% }); %>
    <% }; %>
</div>



<%- include('../partials/footer') %>