<%- include('../partials/header') %>

<div class="show-article-id">
    
    <h1><%= article.headline %></h1>
    <h3><%= article.articleDate.toLocaleDateString() %> <%= article.articleDate.toLocaleTimeString() %></h3>
    <h3>Author: <%= article.author %></h3><br>
    <article><%= article.articleText %></article>
</div>

<div class="show-comments">
    <h2>Join the Conversation</h2><br>
    <form action="/articles/<%= article._id %>/comments" method="POST">
        <textarea placeholder="Write a Comment" name="contentText"></textarea>
        <input type="submit" value="Post Comment">
    </form><br><br>
    <h2>Comments:</h2><br>
    <% if(article.comments.length) { %>
        <% article.comments.forEach(a => {%>
            <ul> <%= a.contentText %> </ul>
        <% }); %>
    <% }; %>
</div>



<%- include('../partials/footer') %>