<%- include('../partials/header') %> 

<div class="show-archive-articles">

<% articles.forEach(a => { %>
    
    <div class="article-box">
      <div class="article-info">
        <ul class="article-headline">
            <a href="/articles/<%= a._id %>"><%= a.headline %></a>
        </ul>
        <ul class="article-timestamp">
          <%= a.articleDate.toLocaleDateString() %> <%=
          a.articleDate.toLocaleTimeString() %>
        </ul>
    </div>
    </div>
    <% }) %>
  </div>

  <%- include('../partials/footer') %>
</div>
